### IntelliJ IDEA ###
.idea/
*.iml
out/
**/src/main/**/out/
**/src/test/**/out/

### Java ###
bin/
target/

### Eclipse ###
.classpath
.project
.settings/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### OS ###
.DS_Store
